/**
------------------------------------------------------
styles specific to the AddEmployeeWizard component
------------------------------------------------------
**/

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  padding: 16px;

  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;

  overflow: hidden;
}

.formContainer {
  flex: 1;
  min-height: 0;

  overflow-y: auto;

  width: 100%;
  margin-top: 24px;
  padding: 24px;

  background-color: var(--color-surface, #fff);
}

.footer {
  grid-column: span 12;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
  // padding-top: 24px;

  // border-top: 1px solid var(--color-border);
}

.actions {
  display: flex;
  gap: 12px;
}
