/**
------------------------------------------------------
styles specific to the StatsSummaryCard component
------------------------------------------------------
**/

.statsCard {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
  border: 0.0625rem solid var(--color-gray-400);
}

.statsCardContent {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  gap: 0.9375rem;
}

.statsCardHeader {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}

.statsCardIcon {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--color-gray-400);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-xs);
}

.statsCardFooter {
  border-top: 0.0625rem solid var(--color-gray-400);
  padding: var(--spacing-4);
  align-items: center;
  justify-content: center;
}

.statsCardUpdatedText {
  color: var(--color-gray-400);
}
