:root {
  /* ==========================
     Base Colors
  ========================== */
  --color-white: #ffffff;
  --color-black: #000000;

  /* ==========================
     Primary Colors
  ========================== */
  --color-violet-600: #7152f3;
  --color-lime-500: #a3d139;
  --color-purple-400: #8d75f5;

  --color-gray-400: #a2a1a8;
  --color-gray-900: #16151c;

  /* Layout */
  /* --sidebar-width: 280px;
  --header-height: 72px; */

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 15px;
  --spacing-lg: 24px;

  /* Radius */
  --radius-xs: 5px;
  --radius-sm: 8px;
  --radius-base: 10px;
  --radius-md: 16px;
  --radius-lg: 20px;
}
