/**
------------------------------------------------------
styles specific to the BaseLayout component
------------------------------------------------------
**/

.container {
  display: grid;
  grid-template-columns: 15.625rem 1fr;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-gray-25);
  padding: 1.5rem;
  gap: 1.5rem;
}

.mainContent {
  overflow-y: auto;
  min-height: calc(100vh - 3rem);
  padding: 1.5rem;
  border-radius: 20px;
}
