/**
------------------------------------------------------
styles specific to the DepartmentEmployeeCard component
------------------------------------------------------
**/

.card {
  height: 100%;
  min-height: 0;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--color-border);
  border-radius: var(--radius-2xl);
  background-color: var(--color-white);

  overflow: hidden;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px 10px;
  // margin-bottom: 20px;
}

.memberCount {
  color: var(--color-gray-400);
}

.viewAllButton {
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #7c3aed;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    color: #6d28d9;
  }
}

.divider {
  height: 1px;
  background-color: var(--color-border);
  margin: 0 20px 10px;
}

.employeeList {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: auto;

  padding: 20px;

  /* Custom scrollbar */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d1d5db;
    border-radius: 999px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.employeeItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  transition: 0.2s ease;

  &:hover {
    .arrowIcon {
      transform: translateX(4px);
    }
  }
}

.employeeInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatarWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar {
  object-fit: cover;
}

.employeeDesignation {
  margin-top: 2px;
  color: var(--color-gray-400);
}

.arrowIcon {
  transition: transform 0.2s ease;
}
