/**
------------------------------------------------------
styles specific to the EmployeesDashboard component
------------------------------------------------------
**/

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  flex: 1;
  min-height: 0;

  padding: 16px;

  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;

  overflow: hidden;
}

.button {
  padding: 1rem;
}

.tableContainer {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
}

.employeeCell {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statusBadge {
  display: inline-flex;
  align-items: center;

  padding: 0.25rem 0.75rem;
  border-radius: 999px;

  font-size: 0.875rem;
  font-weight: 500;

  background: var(--color-violet-600-40);
  color: var(--color-violet-600);
}

.actionIcon {
  border-radius: 0.5rem;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  &:active {
    transform: scale(0.95);
  }
}
