/**
------------------------------------------------------
styles specific to the AddHolidayModal component
------------------------------------------------------
**/

.button {
  padding: var(--spacing-7);
  border-radius: var(--radius-md);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  justify-content: flex-end;
}

.add {
  margin-top: 1.875rem;
  width: 166px;
  padding: 0.875rem;
  border-radius: var(--radius-md);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  margin-top: var(--spacing-7);
}

.modal {
  min-width: 450px;
}
