/**
------------------------------------------------------
styles specific to the Breadcrumbs component
------------------------------------------------------
**/

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.link {
  text-decoration: none;
  color: var(--color-gray-400);

  &:hover {
    color: var(--color-violet-500);
  }
}

.current {
  color: var(--color-gray-900);
}

.separator {
  color: var(--color-gray-400);
}
