/**
------------------------------------------------------
styles specific to the BasePieChart component
------------------------------------------------------
**/

.chartWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.centerContent {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.label {
  color: #6b7280;
}
